
<div>
    <h3>LA SUSCRITA DIRECTORA DE GESTION HUMANA DE LA EMPRESA SII COLOMBIA SAS</h3>
    <h3>CERTIFICA</h3>

    <p>
        Que el señor Gabriel Luna identificado con cedula de ciudadania No. 324324324324 laboral en la empresa desde juoio 25 de 1917
        a la fecha desempeñando el cargo de Directora comercial con un contrato a termino indefinido.
    </p>

    <br /><br />

    <p>Para constancia de lo anterior se firma en Bogota a los treinta (30) dias del mes de septiembre de dos mil veinte (2020)</p>

    <br /><br />

    <p>Coordialmente</p>
    <br /><br />
    <p>AUGUST ALBERTO MARTINEZ PEREZ</p>
    <p>Directora de gestion humana</p>

</div>
